[build]
  command = "npm run clean-install && npm run build"
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Connection = "upgrade"
    Upgrade = "websocket"

[build.environment]
  NODE_VERSION = "18"
